@keyframes logo {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

* {
    margin: 0;
    padding: 0;
}

header, nav, section, aside, footer, #wrapper {
    /* border: 1px solid black; */
}

#wrapper {
    position: relative;
    margin: 0 auto;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1100px;
}

    #wrapper > header {
        display: flex;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        align-items: center;
        background: url(Images/body-background.jpg) no-repeat left;
        /* margin-top: 0px; */
        height: 400px;
    }

h1 {
    text-transform: uppercase;
    text-shadow: 2px 2px 3px #170F0F;
    color: rgb(43, 37, 43);
    font-size: 2.5em;
    transform: translate(86px, -38px) rotate(-26deg);
    font-size: 2.5em;
    font-style: oblique;
}



nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(47, 38, 38, 0.34);
    display: flex;
    flex: 1 1 auto;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

    nav form {
        padding-right: 5px;
        position: relative;
        margin-right: 5px;
        /* border-right: 1px solid #2F2626; */
    }

input, button {
    padding: 10px;
    box-sizing: border-box;
    height: 40px;
    border: none;
    outline: none;
}

button {
    background: white;
    border: none;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}


nav ul {
    list-style: none;
}

nav > ul {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: center; /*not tested*/
    height: 50px;
    list-style: none;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

    nav > ul > li {
        display: inline-block;
        flex: 1 1 auto;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

nav a {
    display: inline-block;
    text-align: center;
    background-color: rgba(185, 181, 181, 0);
    width: 100%;
    height: 50px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    transition: all 0.8s;
}

    nav a:hover {
        background-color: rgb(97, 130, 130);
    }

.secondLayer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(198, 233, 231, 0.95);
    position: relative;
    width: inherit;
    height: auto;
    top: 100%;
    left: 0;
    padding: 10px;
    font-size: 1em;
    z-index: 2;
    display: block;
    
}

    .secondLayer > li {
        position: relative;
        font-weight: bold;
    }

        .secondLayer > li:hover {
            color: rgba(27, 26, 26, 0.80);
            cursor: pointer;
        }

.thirdLayer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(223, 230, 230, 0.88);
    position: absolute;
    top: 0;
    left: 100%;
    width: 120%;
    height: auto;
    padding: 10px;
    font-size: 1em;
    color: initial;
    font-weight: initial;
    cursor: initial;
    z-index: 3;
    display: none;
}

    .thirdLayer > li:hover {
        color: rgba(35, 28, 28, 0.86);
        cursor: pointer;
    }

/*li:hover > ul {
    display: block;
}*/

#mainArea {
    flex-grow: 1;
    display: flex;
    background-image: linear-gradient( #EFEFE0, white);
}

section {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    height: auto;
    overflow: auto;
}

article {
    display: inline-block;
    margin: 20px;
    max-height: 300px;
    max-width: 300px;
    position: relative;
    text-align: center;
    box-shadow: 5px 3px 10px #5A4D4D;
    overflow: hidden;
    border: 2px solid #948B80;
    border-radius: 15px;
}

    article::after {
        content: "";
        background: url(Images/background.jpg);
        opacity: 0.8;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    article header {
        border: none;
    }

    article .image {
        width: 300px;
        height: 300px;
        opacity: 1;
        transition: all 0.4s;
        position: relative;
    }

    article:hover .image {
        transform: rotate(720deg) scale(0);
        opacity: 0;
    }

    article img {
        opacity: 0.7;
        border-radius: 15px;
    }


    article h3 {
        font-size: 1.6em;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        position: absolute;
        top: 10%;
        color: white;
        transform: rotate(-18deg) translate(-38px, -25px);
    }

    article .text {
        opacity: 0;
        height: 100%;
        background-color: rgba(220, 213, 213, 0.61);
        transition: all 0.3s;
        -moz-transform: rotate(0) scale(1);
        -ms-transform: rotate(0) scale(1);
        -o-transform: rotate(0) scale(1);
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        overflow: hidden;
        border-radius: 15px;
    }

    article:hover .text {
        opacity: 1;
        transition-delay: 0.4s;
        transform: rotate(0) translateY(0px);
    }

    article h2 {
        transform: translateY(-300px);
        background-color: #908E77;
        color: white;
        transition: all 0.3s;
        display: block;
        width: 100%;
        margin: 5px 0;
        padding: 5px 0;
    }

    article:hover h2 {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -moz-transition-delay: 0.9s;
        -o-transition-delay: 0.9s;
        -webkit-transition-delay: 0.9s;
        transition-delay: 0.9s;
    }

    article p {
        -moz-transform: translateY(-300px);
        -ms-transform: translateY(-300px);
        -o-transform: translateY(-300px);
        -webkit-transform: translateY(-300px);
        transform: translateY(-300px);
        display: block;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        margin: 10px 5px;
        font-weight: bold;
        font-style: italic;
    }

    article:hover p {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -moz-transition-delay: 0.7s;
        -o-transition-delay: 0.7s;
        -webkit-transition-delay: 0.7s;
        transition-delay: 0.7s;
    }

    article a {
        -moz-transform: translateY(-300px);
        -ms-transform: translateY(-300px);
        -o-transform: translateY(-300px);
        -webkit-transform: translateY(-300px);
        transform: translateY(-300px);
        display: inline-block;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        background-color: #908E77;
        color: white;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        margin-top: 5px;
        padding: 7px;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 5px;
    }

    article:hover a {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -moz-transition-delay: 0.5s;
        -o-transition-delay: 0.5s;
        -webkit-transition-delay: 0.5s;
        transition-delay: 0.5s;
    }

aside {
    margin-top: 6px;
    order: -1;
    background-color: #F4F5EF;
    border-right: 1px solid #dacaca;
    border-left: 1px solid #dacaca;
    border-top: 1px solid #dacaca;
}

    aside ul {
        display: flex;
        flex-direction: column;
    }

    aside li {
        display: inline-block;
    }

    aside ul a {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: black;
        font-weight: bold;
        border-top: 2px solid #DACACA;
        transition: all 0.5s;
        /* border-right: 1px solid #dacaca; */
        /* border-left: 1px solid #dacaca; */
    }

    aside ul li:last-child {
        border-bottom: 2px solid #dacaca;
    }

    aside ul li img {
        order: -1;
        display: inline-block;
    }

    aside h2 {
        font-size: 1.4em;
        /* font-style: italic; */
        color: #FFFFFF;
        padding: 10px 0 10px 0px;
        display: inline-block;
        text-align: center;
        background-color: #AFAAA4;
        /* border-right: 1px solid #DACACA; */
        /* border-left: 1px solid #dacaca; */
        width: 100%;
    }

    aside h3 {
        display: inline-block;
        padding: 10px;
        font-size: 1em;
    }



#wrapper > footer {
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: black;
    height: auto;
}

footer ul {
    list-style: none;
    padding: 5px;
}

footer li {
    color: white;
    font-size: 0.8em;
    line-height: 1.2em;
}

footer a {
    text-decoration: none;
    color: white;
}

    footer a:hover {
        text-decoration: underline;
    }

footer div {
    border-bottom: 1px solid white;
    width: 100%;
    padding: 5px;
}

footer small {
    color: white;
    text-align: right;
    flex-grow: 1;
}

aside a:hover {
    background-color: rgb(206, 198, 187);
}

div#firstRow {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
}

div#secondRow {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: baseline;
}

header img {
    animation-name: logo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#imgWrap {
    width: 150px;
    transform: scale(1.5) translate(176px, 45px);
}

/*--------------------------------------*/
@media (max-width: 780px) {
    nav {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        /* background-color: rgba(47, 38, 38, 0.24); */
    }

        nav > ul {
            width: 100%;
        }

            nav > ul > li {
                flex-grow: 1;
            }

    article {
        align-content: space-around;
    }
}

/*-------------------------------------------*/
/*----------------------------------------*/
@media (max-width: 635px) {
    * {
        display: block;
        height: auto;
    }

    nav, nav ul, nav li, form, input {
        width: 100%;
    }

    #wrapper {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
    }

    #wrapper>header {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

        header img {
            width: 150px;
        }



    nav {
        border-top: 1px solid #696464;
        flex-direction: column;
        align-content: stretch;
        align-items: center;
        height: auto;
        position: static;
    }

    nav > ul {
        /* background-color: #666; */
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        text-align: center;
        height: auto;
        
    }

    nav > ul > li {
        border-bottom: 1px solid #696464;
    }

    .thirdLayer {
        position: absolute;
        top: 100%;
        left: 50%;
        width: auto;
        height: auto;
    }
    nav form{
        margin-right: 0;
        border:1px solid #dacaca;
        padding-right: 0;
    }
    input {
        /*margin: 0 5px;*/
    }

    button {
        right: 15px;
    }

    #mainArea {
        flex-direction: column;
    }

    section {
        justify-content: space-around;
    }
    aside {
        order: 0;
    }

    aside ul {
        display: flex;
        flex-direction: column;
    }

    #wrapper > footer {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        background-color: black;
        height: auto;
    }

    div#firstRow {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    div#secondRow {
        flex-direction: row;
        align-items: center;
    }

     h1 {
        text-transform: uppercase;
        text-shadow: 2px 2px 3px #170F0F;
        color: rgb(43, 37, 43);
        
        transform: none;
        font-size: 3.5em;
        font-style: oblique;
        text-align: center;
    }   

    #imgWrap {
        width: auto;
        transform: none;
    }

}
