@keyframes logo {
    from {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

* {
    margin: 0;
    padding: 0;
}


#wrapper {
    position: relative;
    margin: 0 auto;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1100px;
}

    #wrapper > header {
        display: flex;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        align-items: center;
        background: url(Images/body-background.jpg) no-repeat left;
        height: 400px;
    }

h1 {
    text-transform: uppercase;
    text-shadow: 2px 2px 3px #170F0F;
    color: rgb(43, 37, 43);
    -moz-transform: translate(86px, -38px) rotate(-26deg);
    -ms-transform: translate(86px, -38px) rotate(-26deg);
    -o-transform: translate(86px, -38px) rotate(-26deg);
    -webkit-transform: translate(86px, -38px) rotate(-26deg);
    transform: translate(86px, -38px) rotate(-26deg);
    font-size: 2.5em;
    font-style: oblique;
}



nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(47, 38, 38, 0.34);
    display: flex;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

    nav form {
        padding-right: 5px;
        position: relative;
        margin-right: 5px;
    }

input, button {
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    border: none;
    outline: none;
}

button {
    background: white;
    border: none;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}


nav ul {
    list-style: none;
}

nav > ul {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    list-style: none;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

    nav > ul > li {
        display: inline-block;
        -ms-flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

nav a {
    display: inline-block;
    text-align: center;
    background-color: rgba(185, 181, 181, 0);
    width: 100%;
    height: 50px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

    nav a:hover {
        background-color: rgba(97, 130, 130, 0.66);
    }

.secondLayer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(145, 163, 163, 0.75);
    color: white;
    position: relative;
    width: inherit;
    height: auto;
    top: 100%;
    left: 0;
    padding: 10px;
    font-size: 1em;
    z-index: 10;
    display: none;
    text-align: center;
}

    .secondLayer > li {
        position: relative;
        font-weight: bold;
    }

        .secondLayer > li:hover {
            color: rgba(27, 26, 26, 0.80);
            cursor: pointer;
        }

#mainArea {
    flex-grow: 1;
    display: flex;
    background-image: linear-gradient( #EFEFE0, white);
}

section {
    padding-top: 40px;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    height: auto;
    overflow: auto;
}

#mainArea article {
    display: inline-block;
    margin: 20px;
    max-height: 300px;
    max-width: 300px;
    position: relative;
    text-align: center;
    box-shadow: 5px 3px 10px #5A4D4D;
    overflow: hidden;
    border: 2px solid #948B80;
    border-radius: 15px;
}

    #mainArea article::after {
        content: "";
        opacity: 0.8;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    #mainArea article header {
        border: none;
    }

    #mainArea article .image {
        width: 300px;
        height: 300px;
        opacity: 1;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        position: relative;
    }

    #mainArea article:hover .image {
        -moz-transform: rotate(720deg) scale(0);
        -ms-transform: rotate(720deg) scale(0);
        -o-transform: rotate(720deg) scale(0);
        -webkit-transform: rotate(720deg) scale(0);
        transform: rotate(720deg) scale(0);
        opacity: 0;
    }

    #mainArea article img {
        opacity: 1;
        border-radius: 15px;
    }


    #mainArea article h3 {
        font-size: 1.6em;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        position: absolute;
        top: 10%;
        color: white;
        -moz-transform: rotate(-18deg) translate(-38px, -25px);
        -ms-transform: rotate(-18deg) translate(-38px, -25px);
        -o-transform: rotate(-18deg) translate(-38px, -25px);
        -webkit-transform: rotate(-18deg) translate(-38px, -25px);
        transform: rotate(-18deg) translate(-38px, -25px);
    }

    #mainArea article .text {
        opacity: 0;
        height: 100%;
        background-color: rgba(220, 213, 213, 0.61);
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -moz-transform: rotate(0) scale(1);
        -ms-transform: rotate(0) scale(1);
        -o-transform: rotate(0) scale(1);
        -webkit-transform: rotate(0) scale(1);
        transform: rotate(0) scale(1);
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        overflow: hidden;
        border-radius: 15px;
    }

    #mainArea article:hover .text {
        opacity: 1;
        -moz-transition-delay: 0.4s;
        -o-transition-delay: 0.4s;
        -webkit-transition-delay: 0.4s;
        transition-delay: 0.4s;
        -moz-transform: rotate(0) translateY(0px);
        -ms-transform: rotate(0) translateY(0px);
        -o-transform: rotate(0) translateY(0px);
        -webkit-transform: rotate(0) translateY(0px);
        transform: rotate(0) translateY(0px);
    }

    #mainArea article h2 {
        -moz-transform: translateY(-300px);
        -ms-transform: translateY(-300px);
        -o-transform: translateY(-300px);
        -webkit-transform: translateY(-300px);
        transform: translateY(-300px);
        background-color: #908E77;
        color: white;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        display: block;
        width: 100%;
        margin: 5px 0;
        padding: 5px 0;
    }

    #mainArea article:hover h2 {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -moz-transition-delay: 0.9s;
        -o-transition-delay: 0.9s;
        -webkit-transition-delay: 0.9s;
        transition-delay: 0.9s;
    }

    #mainArea article p {
        -moz-transform: translateY(-300px);
        -ms-transform: translateY(-300px);
        -o-transform: translateY(-300px);
        -webkit-transform: translateY(-300px);
        transform: translateY(-300px);
        display: block;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        margin: 10px 5px;
        font-weight: bold;
        font-style: italic;
    }

    #mainArea article:hover p {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -moz-transition-delay: 0.7s;
        -o-transition-delay: 0.7s;
        -webkit-transition-delay: 0.7s;
        transition-delay: 0.7s;
    }

    #mainArea article a {
        -moz-transform: translateY(-300px);
        -ms-transform: translateY(-300px);
        -o-transform: translateY(-300px);
        -webkit-transform: translateY(-300px);
        transform: translateY(-300px);
        display: inline-block;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        background-color: #908E77;
        color: white;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        margin-top: 5px;
        padding: 7px;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 5px;
    }

    #mainArea article:hover a {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -moz-transition-delay: 0.5s;
        -o-transition-delay: 0.5s;
        -webkit-transition-delay: 0.5s;
        transition-delay: 0.5s;
    }

aside {
    margin-top: 6px;
    order: -1;
    background-color: #F4F5EF;
    border-right: 1px solid #dacaca;
    border-left: 1px solid #dacaca;
    border-top: 1px solid #dacaca;
}

    aside ul {
        display: flex;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    aside li {
        display: inline-block;
    }

    aside ul a {
        display: flex;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: black;
        font-weight: bold;
        border-top: 2px solid #DACACA;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }

    aside ul li:last-child {
        border-bottom: 2px solid #dacaca;
    }

    aside ul li img {
        order: -1;
        display: inline-block;
    }

    aside h2 {
        font-size: 1.4em;
        color: #FFFFFF;
        padding: 10px 0 10px 0px;
        display: inline-block;
        text-align: center;
        background-color: #AFAAA4;
        width: 100%;
    }

    aside h3 {
        display: inline-block;
        padding: 10px;
        font-size: 1em;
    }



#wrapper > footer {
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: black;
    height: auto;
}

footer ul {
    list-style: none;
    padding: 5px;
}

footer li {
    color: white;
    font-size: 0.8em;
    line-height: 1.2em;
}

footer a {
    text-decoration: none;
    color: white;
}

    footer a:hover {
        text-decoration: underline;
    }

footer div {
    border-bottom: 1px solid white;
    width: 100%;
    padding: 5px;
}

footer small {
    color: white;
    text-align: right;
    flex-grow: 1;
}

aside a:hover {
    background-color: rgb(206, 198, 187);
}

div#firstRow {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
}

div#secondRow {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: baseline;
}

header img {
    -moz-animation-name: logo;
    -o-animation-name: logo;
    -webkit-animation-name: logo;
    animation-name: logo;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

#imgWrap {
    width: 150px;
    -moz-transform: scale(1.5) translate(176px, 45px);
    -ms-transform: scale(1.5) translate(176px, 45px);
    -o-transform: scale(1.5) translate(176px, 45px);
    -webkit-transform: scale(1.5) translate(176px, 45px);
    transform: scale(1.5) translate(176px, 45px);
}

#about {
    padding-top: 0;
}

article#about_us {
    /* text-align: center; */
    background: #B6DAD9;
    /* padding: 0 20%; */
}

.slide article, .slide section, .slide div {
    margin: 0 auto;
    text-align: center;
}

.carousel {
    margin-top: 50px;
}

.slide div {
    background: #F4F5EF;
}

#additional {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

#about {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: initial;
}

#about_us, .empty, #contact {
    width: 100%;
    height: 160px;
    padding: 5px;
    text-align: center;
}

#contact {
    background: #B6DAD9;
}

#form_wrapper form {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
}

#form_wrapper input {
    border: 1px solid #625858;
    margin-bottom: 18px;
    margin-top: 10px;
}

#form_wrapper form {
    display: none;
    position: fixed;
    top: 100px;
    right: 39%;
    background: #155452;
    padding: 20px;
    border: 2px outset #6A6161;
}

    #form_wrapper form:before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.1);
        z-index: -1;
    }

label {
    font-weight: bold;
    color: white;
}

#toggle {
    display: inline-block;
    background-color: #F2EFA5;
    min-width: 10%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: 1.5em;
    font-weight: bold;
}

#todo_list {
    display: none;
}

    #todo_list.show {
        display: flex;
        min-width: 40%;
        background: rgba(240, 240, 152, 0.75);
        position: fixed;
        top: 25%;
        right: 7%;
        text-transform: uppercase;
        border-top: 10px dotted rgba(169, 157, 157, 0.5);
        padding: 14px;
        overflow: auto;
        /* box-sizing: content-box; */
    }





    #todo_list:before {
        content: "";
        width: 35px;
        height: 35px;
        position: absolute;
        top: 0;
        left: 87%;
        -moz-transform: rotate(106deg);
        -ms-transform: rotate(106deg);
        -o-transform: rotate(106deg);
        -webkit-transform: rotate(106deg);
        transform: rotate(106deg);
        background: url(Images/tool.png) no-repeat;
    }



#todo button {
    position: static;
    box-shadow: 2px 2px 2px #dacaca;
    margin-right: 5px;
    margin-top: 5px;
    border: 1px solid #58B8A4;
    border-radius: 5px;
    background: #E7E7E7;
}

button#btn_contact {
    position: static;
    background: #FBFBFB;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #515140;
}

table#saved_todos {
    width: 100%;
    border-collapse: collapse;
}

#saved_todos tr {
    border-bottom: 1px solid black;
}

#saved_todos div {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: white;
    padding: 3px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

    #saved_todos div:hover {
        color: grey;
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

#saved_todos input {
    width: 25px;
    height: 25px;
}

#saved_todos input, #saved_todos p, #saved_todos div {
    display: inline-block;
    margin: 10px 60px 10px 0;
    vertical-align: middle;
}

#geolocation {
    border: 1px solid #BABABA;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 300px;
}


/*--------------------------------------*/
@media (max-width: 780px) {
    nav {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    #todo.show {
        top: 15%;
    }


    nav > ul {
        width: 100%;
    }

        nav > ul > li {
            flex-grow: 1;
        }

    article {
        -ms-align-content: space-around;
        -webkit-align-content: space-around;
        align-content: space-around;
    }
}

/*-------------------------------------------*/
/*----------------------------------------*/
@media (max-width: 635px) {


    nav, nav ul, nav li, form, input {
        width: 100%;
    }

    #wrapper {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
    }

        #wrapper > header {
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column;
            width: 100%;
            align-items: center;
        }

    header img {
        width: 150px;
    }



    nav {
        border-top: 1px solid #696464;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
        -ms-align-content: stretch;
        -webkit-align-content: stretch;
        align-content: stretch;
        align-items: center;
        height: auto;
        position: static;
    }

        nav > ul {
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column;
            justify-content: stretch;
            align-items: center;
            text-align: center;
            height: auto;
        }

            nav > ul > li {
                border-bottom: 1px solid #696464;
            }

    .thirdLayer {
        position: absolute;
        top: 100%;
        left: 50%;
        width: auto;
        height: auto;
    }

    nav form {
        margin-right: 0;
        border: 1px solid #dacaca;
        padding-right: 0;
    }

    button {
        right: 15px;
    }


    #todo.show {
        top: 0;
        left: 0;
        display: flex;
        right: 0;
        max-width: none;
        height: 50%;
        padding-top: 0;
    }

        #todo.show #todo_list {
            height: 55%;
            width: 80%;
            display: flex;
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column;
            margin: 0 auto;
        }

            #todo.show #todo_list form {
                display: flex;
                -ms-flex-direction: column;
                -webkit-flex-direction: column;
                flex-direction: column;
                -ms-align-content: space-between;
                -webkit-align-content: space-between;
                align-content: space-between;
            }

    #buttons {
        display: flex;
    }




    #mainArea {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    section {
        justify-content: space-around;
    }

    aside {
        order: 0;
    }

        aside ul {
            display: flex;
            -ms-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column;
        }

    #wrapper > footer {
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        align-items: stretch;
        background-color: black;
        height: auto;
    }

    div#firstRow {
        display: flex;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        justify-content: space-around;
    }

    div#secondRow {
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        align-items: center;
    }

    h1 {
        text-transform: uppercase;
        text-shadow: 2px 2px 3px #170F0F;
        color: rgb(43, 37, 43);
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        transform: none;
        font-size: 3.5em;
        font-style: oblique;
        text-align: center;
    }

    #imgWrap {
        width: auto;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        -webkit-transform: none;
        transform: none;
    }
}
