*{
	margin:0;
	padding:0;

}
header, nav, section, aside, footer, #wrapper
{
	border:1px solid black;
	
}
#wrapper {
    margin: 0 auto;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1000px;
}
header {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
}

nav {
    background-color: #938E8E;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}
nav form{
	padding-right:5px;
}
input, button{
	padding:10px;
}
nav ul{
	list-style:none;
}
nav > ul {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: stretch;
    height: 50px;
    list-style: none;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
    nav > ul > li {
        display: inline-block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
nav a {
    display: inline-block;
    text-align: center;
    background-color: #938E8E;
    width: 100%;
    height: 50px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 5px 10px;
}
nav a:hover{
	background-color:#444;
}
.secondLayer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgb(117, 107, 107);
    position: relative;
    width: 100%;
    height: auto;
    top: 100%;
    left: 0;
    padding: 10px;
    font-size: 1em;
    z-index: 2;
    display: none;
}
.secondLayer>li{
	position:relative;
	font-weight:bold;
}
.secondLayer>li:hover{
	color:white;
	
	cursor:pointer;
}
.thirdLayer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgb(86, 83, 83);
    position: absolute;
    top: 0;
    left: 100%;
    width: 120%;
    height: auto;
    padding: 10px;
    font-size: 1em;
    color: initial;
    font-weight: initial;
    cursor: initial;
    z-index: 3;
    display: none;
}
.thirdLayer>li:hover{
	color:white;
	
	cursor:pointer;
}
li:hover>ul{
	display:block;
}
#mainArea{
	flex-grow:1;
	display:flex;
}

section {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    height: auto;
    overflow: auto;
    background-color:rgba(237, 237, 237, 0.61);
}

article{
	display:inline-block;
	/*padding:5px;*/
	margin:20px;
	max-height:300px;
	max-width:300px;
    position:relative;
    text-align:center;
	/*border-radius:15px;*/
	background-color: white;
    background:url(Images/background.jpg);
    bac
	box-shadow:3px 3px 10px #999;
}
article header{
	border:none;
}

article img{
    width:300px;
    height:300px;
    opacity:1;
    transition:all 0.7s;
}
article:hover img{
    transform:rotate(720deg) scale(0);
    opacity:0;
}
article div{
    opacity:0;
    height:100%;    
    background-color:rgba(0, 0, 0, 0.5);
    transition:all 0.4s;
    transform:rotate(0) scale(1);
    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex-direction:column;
}
article:hover div{
    opacity:1;
    transition-delay:0.6s;
    transform:rotate(0) translateY(0px);
   

}
article h2{
    transform:translateY(-300px);
    background-color:black;
    color:white;
    transition:all 0.6s;
  display:block;
  width:100%;
    /*position:absolute;*/
}
article:hover h2{
    transform:translateY(0);
    transition-delay:0.5s;
} 
article p{
    transform:translateY(-300px);
    display:block;
    transition:all 0.6s;
    /*position:absolute;*/
}
article:hover p{
    transform:translateY(0);
    transition-delay:1s;
}
article a{
    transform:translateY(-300px);
    display:inline-block;   
    background-color:black;
    color:white;
    transition:all 0.6s;
    /*position:absolute;*/
}
article:hover a{
    transform:translateY(0);
    transition-delay:1.5s;
}
aside{

	order:-1;
}
aside ul{
	display:flex;
	flex-direction: column;
}
aside li{
	display: inline-block;
}
aside ul a{
	display:flex;
	flex-direction: row;
	align-items:center;
	text-decoration: none;
	color:black;
	font-weight:bold;
	
	border-top:2px solid black;
}
aside ul li:last-child{
	border-bottom:2px solid black;
}
aside ul li img{
	order: -1;
	display:inline-block;
}
aside h2 {
	font-size: 1.3em;
	padding: 10px;
	display: inline-block;
	text-align: center;
}
aside h3{
	display:inline-block;
	padding:10px;
	font-size:1em;
}



#wrapper>footer
{
	display:flex;

	flex-wrap:wrap;
	align-items: stretch;

	background-color:black;
	height:auto;



}
footer ul{
	list-style:none;
	padding:5px;

}
footer li{
	color:white;
	font-size:0.8em;
	line-height: 1.2em;
}
footer a{
	text-decoration:none;
	color:white;
}
footer a:hover{
	text-decoration: underline;
}
footer div{
	border-bottom:1px solid white;
	width:100%;
	padding:5px;

}
footer small{
	color:white;
	text-align: right;
	flex-grow:1;
}
aside a:hover
{
	background-color:#fdd;

}
div#firstRow{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}
div#secondRow{
	display:flex;
	flex-direction: row;
	align-items:baseline;

}


/*--------------------------------------*/
@media (max-width: 780px){
	nav{

		flex-direction:column;
		justify-content:stretch;
		align-items:center;
		height:auto;
		background-color: black;

	}
	nav>ul{
		width:100%;
		
	}
	nav>ul>li{
		flex-grow:1;
	}



}

/*-------------------------------------------*/
/*----------------------------------------*/
@media (max-width: 510px)
{
	*{
		display:block;
		height:auto;
	}
	nav, nav ul, nav li, form, input, button{
		width:100%;
	}

	#wrapper{
		flex-direction: column;
		align-items:center;
		max-width:500px;

	}

	header{
		flex-direction:column;
		width:100%;
		align-items:center;
	}
	header img{
		width:150px;
	}
	h1{
		text-align:center;
	}

	nav{

		flex-direction:column;
		justify-content:stretch;
		align-items:center;
		height:auto;
		background-color: black;
		padding:5px 0;

	}
	nav>ul{

		background-color: #666;
		flex-direction:column;
		justify-content:stretch;
		align-items:center;
		text-align: center;
		height:auto;
		margin-bottom: 10px;
		
	}
	nav>ul>li{
		border-bottom:1px solid black;
	}
	.thirdLayer {
    
    
    position: absolute;
    top: 100%;
    left: 50%;
    width: auto;
    height: auto;
    
}
	#mainArea{
		
		flex-direction:column;
	}
	section{
		justify-content: space-around;
	}
	

	
	
	aside{
		order:0;
	}
	
	aside ul{
		display:flex;
		flex-direction: column;
	}
	
	#wrapper>footer
	{
		display:flex;

		flex-wrap:wrap;
		align-items: stretch;

		background-color:black;
		height:auto;



	}
	div#firstRow{
		display:flex;
		flex-direction: row;
		justify-content: space-around;
	}
	div#secondRow{
		
		flex-direction: row;
		
		align-items:center;
		

	}
	

}
